/* .side-panel {
    height: 100%;
    position: fixed;
    left: 100%;
    transition: 0.2s ease-in-out;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
} */

.side-panel-appear {
    transform: translateX(-100%);
}

/************** For this page **************/
