.education {
    width: 100%;
    height: 100%;
}

.education-info-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    transition: 0.3 ease-in-out;
    background-color: red;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}
.education-half-info {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 30px 50px;
}

@media (max-device-width: 750px) {
    .education-half-info {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
        padding: 30px 50px;
    }
}

.education-h1 {
    font-size: 30px;
    font-family: "BrixSansBold;Helvetica;Arial;sans-serif";
}
.education-h3 {
    margin-top: 20px;
    font-size: 12px;
    font-family: "BrixSansBold;Helvetica;Arial;sans-serif";
}
.education-p {
    font-size: 15px;
    font-family: "BrixSansBold;Helvetica;Arial;sans-serif";
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 30px;
    padding: 10px 20px;
    height: 300px;
    width: 100%;
    margin-top: 20px;
    transform: translateX(-20px);
    transition: height 0.3s ease-in-out;
}
.education-course {
    margin: 12px;
}
.education-line {
    margin: 5px;
}
.education-courses {
    overflow-y: auto;
    height: 230px;
}

.education-resource {
    float: right;
}
.education-link {
    float: right;
    margin: 5px 5px 0px 5px;
    font-size: 10px;
    height: 100%;
    display: block;
    color: blue;
    cursor: pointer;
}

.education-gallery-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
