.gallery-image {
    position: absolute;
    border: 10px solid white;
    border-radius: 5px;
    /* padding: 5px; */
    box-shadow: 0 0 10px;
    transition: transform 0.2s ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
}
