.side-panel {
    height: 100%;
}
.side-panel-title {
    color: white;
    width: 100%;
    position: relative;
    height: 140px;
    margin: 0 auto;
    display: block;
    background-color: rgb(87, 36, 66);
}

.side-panel-hi {
    display: block;
    font-family: Helvetica;
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 30px;
}

.side-panel-greeting {
    display: block;
    font-family: Arial;
    position: absolute;
    left: 10%;
    top: 60%;
    font-size: 16px;
}

.side-panel-bar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.side-panel-label {
    width: 4px;
    height: 100%;
    float: left;
    transition: background-color 0.3s ease-out;
}

.side-panel-text {
    color: black;
    line-height: 100px;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    font-family: Helvetica;
    /* boxShadow: '0px 0px 200px #eeeeee'; */
    transition: transform 0.3s ease-out;
}

.side-panel-bar:hover {
    box-shadow: 0px 0px 10px #dddddd;
}

.side-panel-bar:hover .side-panel-label {
    background-color: #ff0000;
}

.side-panel-bar:hover .side-panel-text {
    transform: scale(1.2);
}

.side-panel-content {
    width: 300px;
    background: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
