$font_family:		Arial, Helvetica, sans-serif;
$font_big:			20px;
$font_mid:			15px;
$font_sm:			12px;


// height
$navbar_height:					50px;
$profile_height:    			500px;
$school_height:					500px;
$school_width:					750px;
$min_school_width:				300px;
$min_school_height:				200px;

$profile_icon_height:			270px;
$profile_icon_img_height:		120px;
$profile_contact_img_height:	30px;

.left{
	position: relative;
	float:left;
}

.right{
	position: relative;
	float:right;
}

li{
	list-style: none;
	display: block;
}
